ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --ion-background-color:rgb(238, 255, 239);
}
ion-item{
    --padding-bottom: 10px;
    color: green;
}
ion-label{
    color: green;
}
p{
    color: green;
}
h1{
    font-family: fantasy;
}
a{
    color: green;
}